.wrap{
  font-family: "Orbit", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-image: url("../배경.jpeg");
  background-size: cover;
}

.introduce{
  text-align: center;
}

.card{
  font-family: "Nanum Myeongjo", serif;
  font-weight: 400;
  font-style: normal;

  border-spacing: 1px;
  background-color: #F5F9EE;
  padding : 20px 10px 10px 10px;
  border-radius: 10px;
  width : 400px;
  height: 200px;
  margin-left: 100px;
  margin-top: 40px;
  box-shadow: 0px 5px 30px;
  font-size: medium;
  text-align: left;
}

#text{
  display: inline-block;
  background-color: #E3D6FF;
  border-radius: 10px;
  text-align: center;
}

#jpg{
    width : 140px;
    height : 180px;
    size : cover;
    border-radius: 10px;

}

.my{
  color:#478000;
}

#aboutme{
  border-radius: 10px;
  margin-left: px;
  margin-top: 40px;
  font-size: large;
  text-align: center;
}

#result1{
  background-color: #F5F9EE;
  margin: 0;
  text-align: center;
}

#result2{
  background-color: #F5F9EE;
  margin: 0;
  text-align: center;
}

.myClickableElement {
  cursor: pointer;
}
